<h2>Playing as: <%= @player.name %></h2>
<h2>Balance: <%= @player.balance %></h2>
<div>
  <canvas id="canvas" width="350" height="350">
    Canvas not supported, use another browser.
  </canvas>
  <button id="spin-button" phx-hook="Spin" phx-click="spin">Spin the Wheel</button>
</div>